/* Reset everything except dropdowns, popups and tooltips */
*:not(tooltip):not(menu):not(menuitem):not(check):not(radio):not(separator) {
    all: unset;
}

#waybar {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 15px;
}

.modules-left {
    margin: 3px 0 3px 6px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
    background: rgba(40, 40, 40, 0.7);
}

.modules-center {
    margin: 3px 0;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
    background: rgba(40, 40, 40, 0.7);
}

.modules-right {
    margin: 3px 6px 3px 0;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
    background: rgba(40, 40, 40, 0.7);
}

#workspaces {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    min-height: 20px
}

#workspaces button {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    min-width: 0px;
    color: #689d6a;
}

#workspaces button.active {
    color: #282828;
    background: #98971a;
}

#workspaces button.urgent {
    color: #fb4934;
}

/* For when the mouse is hovering on workspace button */
#workspaces button:hover {
    box-shadow: 0 0 0 1px #98971a;
}

#tray {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 4px;
    margin-left: 4px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 4px;
    color: #ebdbb2;
}

#clock {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 11px;
    color: #ebdbb2;
}

#idle_inhibitor {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 8px;
    padding-left: 8px;
    color: #d79932;
}

#pulseaudio {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 11px;
    color: #689d6a;
}

#network {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 11px;
    color: #a89984;
}

#cpu {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 8px;
    padding-left: 8px;
    color: #a89984;
}

#backlight {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 4px;
    margin-left: 4px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 4px;
    color: #ebdbb2;
}

#backlight.4 {
    color: #d56d0e;
}

#backlight.3 {
    color: #d56d0e;
}

#backlight.2 {
    color: #d56d0e;
}

#backlight.1 {
    color: #d56d0e;
}

#language {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 4px;
    margin-left: 4px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 4px;
    color: #d79932;
}

#memory {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 8px;
    padding-left: 8px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    color: #98971a;
}

#power-profiles-daemon {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 4px;
    margin-left: 4px;
    padding-right: 6px;
    padding-left: 6px;
    color: #d79921;
}

#power-profiles-daemon.performance {
    color: #d65d0e;
}

#power-profiles-daemon.power-saver {
    color: #98971a
}

#battery {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 4px;
    margin-left: 4px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 4px;
}

#battery.tooMuch {
    color: #bfff64;
}

#battery.good {
    color: #5cff5c
}

#battery.meh {
    color: #bfff64
}

#battery.warning {
    color: #fc9b5a
}

#battery.critical {
    color: #e33d3d
}

#battery.charging {
    color: #64ff64;
}

#battery.charging.tooMuch {
    color: #bfff64;
}

#battery.plugged {
    color: #64ff64;
}

#battery.plugged.tooMuch {
    color: #bfff64;
}

#battery.full {
    color: #bfff64;
}

#custom-power {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 8px;
    padding-left: 8px;
    color: #ebdbb2;
}

#custom-notification {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 8px;
    padding-left: 8px;
    color: #ebdbb2;
}
